.Rproj.user
.Rhistory
*.html
.RData
.Ruserdata
predicting_prism/message/
sensitivity_fitting/forward_modelling/message/	
*message/
*txt
*RData
*.csv
*pdf
*tif
*svg
*png
*tiff
*gmt
.gitignore
*fig_res/
*.gitignore

